{
	"debug": true,

	"projects":
	{
		"Glibc":
		{
			"short_name": "glibc",
			"database_id": 5,
			"vendor_id": 72,
			"product_id": 767,
			"url_pattern": "sourceware",
			"repository_path": null
		},

		"Apache HTTP Server":
		{
			"short_name": "apache",
			"database_id": 4,
			"vendor_id": 45,
			"product_id": 66,
			"url_pattern": "apache",
			"repository_path": null
		},

		"Xen":
		{
			"short_name": "xen",
			"database_id": 3,
			"vendor_id": 6276,
			"product_id": null,
			"url_pattern": "xen",
			"repository_path": "C:\\Work\\GitHub\\xen"
		},

		"Mozilla":
		{
			"short_name": "mozilla",
			"database_id": 1,
			"vendor_id": 452,
			"product_id": null,
			"url_pattern": "mozilla",
			"repository_path": "C:\\Work\\GitHub\\gecko-dev"
		},

		"Linux Kernel":
		{
			"short_name": "kernel",
			"database_id": 2,
			"vendor_id": 33,
			"product_id": 47,
			"url_pattern": "linux|kernel|redhat",
			"repository_path": null
		}
	}
}