# Compiled Python code.
*.pyc

# Understand project databases.
*.udb
*.und

# Windows shortcuts.
*.lnk

# The five C/C++ project repositories.
repositories

# The symlink to the dataset.
dataset

# Log files.
scripts/modules/logs

# Dynamic configuration files.
dynamic_config.json
